body {
    background-color: black;
    color: white;
    font-size: 20px;
    font: Sans-Serif;
    padding: 40px;
}

a {
    color: lightblue;
}
.neuro-image {
    width: 150px;
    height: auto;
}
